<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="margin-left: 10px" href="/">Sklep internetowy - Marta Strzelec</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Strona Główna</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Produkty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Administracja</a>
        </li>
      </ul>
    </div>
  </nav>