<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs') %>
        <title>Sklep internetowy - strona główna</title>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="container pt-3">
            <h1>Sklep internetowy - przykłady</h1>
            <button onclick="location.href='/products'" class="btn btn-primary mt-4">Wyświetl produkty</button><br>
            <button onclick="location.href='/admin'" class="btn btn-secondary mt-4">Administracja produktami</button>
        </div>
    </body>
</html>